In [6]:
path =   '../data/us_dot/otp/'

In [5]:
path = '/home/dsc/Data/us_dot/otp/'

In [7]:
! ls {path}

On_Time_On_Time_Performance_2015_1.zip	On_Time_On_Time_Performance_2015_5.zip
On_Time_On_Time_Performance_2015_2.zip	On_Time_On_Time_Performance_2015_6.zip
On_Time_On_Time_Performance_2015_3.zip	On_Time_On_Time_Performance_2015_7.zip
On_Time_On_Time_Performance_2015_4.zip	On_Time_On_Time_Performance_2015_8.zip

In [8]:
files = !ls {path}

In [9]:
first_file = files[0]

In [10]:
first_file

'On_Time_On_Time_Performance_2015_1.zip'

In [11]:
!unzip -l {path + first_file}

Archive:  ../data/us_dot/otp/On_Time_On_Time_Performance_2015_1.zip
  Length      Date    Time    Name
---------  ---------- -----   ----
211633432  2015-04-16 20:02   On_Time_On_Time_Performance_2015_1.csv
    12054  2015-04-16 20:02   readme.html
---------                     -------
211645486                     2 files

In [12]:
!unzip -o {path + first_file} readme.html -d $(pwd)

Archive:  ../data/us_dot/otp/On_Time_On_Time_Performance_2015_1.zip
  inflating: /home/dani/dev/master-data-science/07_pandas_for_data_science/readme.html

In [13]:
from IPython.display import IFrame

In [14]:
IFrame('readme.html', width=700, height=350)

In [18]:
IFrame('http://www.elpais.com', width=700, height=350)

In [19]:
import os
import zipfile

In [20]:
filenames = os.listdir(path)

In [21]:
filenames

['On_Time_On_Time_Performance_2015_8.zip',
 'On_Time_On_Time_Performance_2015_4.zip',
 'On_Time_On_Time_Performance_2015_1.zip',
 'On_Time_On_Time_Performance_2015_7.zip',
 'On_Time_On_Time_Performance_2015_3.zip',
 'On_Time_On_Time_Performance_2015_6.zip',
 'On_Time_On_Time_Performance_2015_2.zip',
 'On_Time_On_Time_Performance_2015_5.zip']

In [29]:
zip_file = zipfile.ZipFile(path + filenames[0])

In [23]:
type(zip_file)

zipfile.ZipFile

In [24]:
import pandas as pd

In [30]:
csv_file = zip_file.open(filenames[0].split('.')[0] + '.csv')

In [26]:
type(csv_file)

zipfile.ZipExtFile

In [31]:
df = pd.read_csv(csv_file, header=0)

In [33]:
df.head()

,Year,Quarter,Month,DayofMonth,DayOfWeek,FlightDate,UniqueCarrier,AirlineID,Carrier,TailNum,...,Div4TailNum,Div5Airport,Div5AirportID,Div5AirportSeqID,Div5WheelsOn,Div5TotalGTime,Div5LongestGTime,Div5WheelsOff,Div5TailNum,Unnamed: 109
0,2015,3,8,2,7,2015-08-02,AA,19805,AA,N790AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2015,3,8,3,1,2015-08-03,AA,19805,AA,N784AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2015,3,8,4,2,2015-08-04,AA,19805,AA,N793AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2015,3,8,5,3,2015-08-05,AA,19805,AA,N787AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2015,3,8,6,4,2015-08-06,AA,19805,AA,N790AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [34]:
len(df.columns)

110

In [37]:
df.shape

(510536, 110)

In [38]:
len(df)

510536

In [42]:
description = df.describe()

In [43]:
type(description)

pandas.core.frame.DataFrame

In [44]:
description

,Year,Quarter,Month,DayofMonth,DayOfWeek,AirlineID,FlightNum,OriginAirportID,OriginAirportSeqID,OriginCityMarketID,...,Div4TailNum,Div5Airport,Div5AirportID,Div5AirportSeqID,Div5WheelsOn,Div5TotalGTime,Div5LongestGTime,Div5WheelsOff,Div5TailNum,Unnamed: 109
count,510536,510536,510536,510536.000000,510536.000000,510536.000000,510536.000000,510536.000000,510536.000000,510536.000000,...,0,0,0,0,0,0,0,0,0,0
mean,2015,3,8,15.841523,3.993513,19931.592652,2132.089949,12674.025397,1267405.337972,31699.622031,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,0,0,0,8.912551,2.073523,383.628844,1731.122018,1528.817352,152881.415525,1285.367614,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,2015,3,8,1.000000,1.000000,19393.000000,1.000000,10135.000000,1013503.000000,30070.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,2015,3,8,8.000000,2.000000,19790.000000,719.000000,11292.000000,1129202.000000,30599.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,2015,3,8,16.000000,4.000000,19805.000000,1681.000000,12889.000000,1288903.000000,31453.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,2015,3,8,24.000000,6.000000,20304.000000,3086.000000,13930.000000,1393003.000000,32467.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,2015,3,8,31.000000,7.000000,21171.000000,9855.000000,16218.000000,1621801.000000,35991.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [45]:
non_null_counts = df.count()

In [46]:
type(non_null_counts)

pandas.core.series.Series

In [49]:
len(non_null_counts[non_null_counts > 1000])

77

In [52]:
cols_to_drop = non_null_counts[non_null_counts<1000]

In [55]:
df2 = df.drop(cols_to_drop.index, axis=1)

In [56]:
df2.shape

(510536, 77)

In [57]:
df2.ArrDelayMinutes.head()

0     0
1     5
2     6
3    22
4    10
Name: ArrDelayMinutes, dtype: float64

In [58]:
(df2['ArrDelayMinutes']-5).head()

0    -5
1     0
2     1
3    17
4     5
Name: ArrDelayMinutes, dtype: float64

In [59]:
df2['Origin'].head()

0    JFK
1    JFK
2    JFK
3    JFK
4    JFK
Name: Origin, dtype: object

In [60]:
df2['Origin'] + '_airport'

0         JFK_airport
1         JFK_airport
2         JFK_airport
3         JFK_airport
4         JFK_airport
5         JFK_airport
6         JFK_airport
7         JFK_airport
8         JFK_airport
9         JFK_airport
10        JFK_airport
11        JFK_airport
12        JFK_airport
13        JFK_airport
14        JFK_airport
15        JFK_airport
16        JFK_airport
17        JFK_airport
18        JFK_airport
19        JFK_airport
20        JFK_airport
21        JFK_airport
22        JFK_airport
23        JFK_airport
24        JFK_airport
25        JFK_airport
26        JFK_airport
27        JFK_airport
28        LAX_airport
29        LAX_airport
             ...
510506    KOA_airport
510507    KOA_airport
510508    KOA_airport
510509    KOA_airport
510510    KOA_airport
510511    KOA_airport
510512    KOA_airport
510513    KOA_airport
510514    KOA_airport
510515    KOA_airport
510516    KOA_airport
510517    KOA_airport
510518    KOA_airport
510519    KOA_airport
510520    KOA_airport
510521    KOA_airport
510522    KOA_airport
510523    KOA_airport
510524    KOA_airport
510525    KOA_airport
510526    KOA_airport
510527    KOA_airport
510528    KOA_airport
510529    HNL_airport
510530    HNL_airport
510531    HNL_airport
510532    HNL_airport
510533    HNL_airport
510534    HNL_airport
510535    HNL_airport
Name: Origin, dtype: object

In [73]:
origin_cols = df2.columns[df2.columns.str.contains('Ori')]

In [74]:
df2[origin_cols].head()

,OriginAirportID,OriginAirportSeqID,OriginCityMarketID,Origin,OriginCityName,OriginState,OriginStateFips,OriginStateName,OriginWac
0,12478,1247803,31703,JFK,"New York, NY",NY,36,New York,22
1,12478,1247803,31703,JFK,"New York, NY",NY,36,New York,22
2,12478,1247803,31703,JFK,"New York, NY",NY,36,New York,22
3,12478,1247803,31703,JFK,"New York, NY",NY,36,New York,22
4,12478,1247803,31703,JFK,"New York, NY",NY,36,New York,22

In [76]:
cols_of_interest = pd.Index(['Origin', 'OriginCityName',
                             'OriginStateName','Dest',
                             'DestCityName', 'DestStateName'])

In [79]:
destination_cols = df2.columns[df2.columns.str.contains('Dest')]

In [80]:
destination_cols

Index([u'DestAirportID', u'DestAirportSeqID', u'DestCityMarketID', u'Dest',
       u'DestCityName', u'DestState', u'DestStateFips', u'DestStateName',
       u'DestWac', u'DivReachedDest'],
      dtype='object')

In [83]:
place_cols = origin_cols | destination_cols

In [84]:
place_cols

Index([u'Dest', u'DestAirportID', u'DestAirportSeqID', u'DestCityMarketID',
       u'DestCityName', u'DestState', u'DestStateFips', u'DestStateName',
       u'DestWac', u'DivReachedDest', u'Origin', u'OriginAirportID',
       u'OriginAirportSeqID', u'OriginCityMarketID', u'OriginCityName',
       u'OriginState', u'OriginStateFips', u'OriginStateName', u'OriginWac'],
      dtype='object')

In [87]:
cols_to_drop = place_cols.difference(cols_of_interest)

In [88]:
time_cols_todrop = pd.Series(['Year', 'Month', 
                              'Quarter', 'DayofMonth'])

In [89]:
cols_to_drop = cols_to_drop | time_cols_todrop

In [90]:
cols_to_drop

Index([u'DayofMonth', u'DestAirportID', u'DestAirportSeqID',
       u'DestCityMarketID', u'DestState', u'DestStateFips', u'DestWac',
       u'DivReachedDest', u'Month', u'OriginAirportID', u'OriginAirportSeqID',
       u'OriginCityMarketID', u'OriginState', u'OriginStateFips', u'OriginWac',
       u'Quarter', u'Year'],
      dtype='object')

In [91]:
df3 = df2.drop(cols_to_drop, axis=1)

In [92]:
df3.shape

(510536, 60)

In [95]:
df3.head()

,DayOfWeek,FlightDate,UniqueCarrier,AirlineID,Carrier,TailNum,FlightNum,Origin,OriginCityName,OriginStateName,...,DivArrDelay,DivDistance,Div1Airport,Div1AirportID,Div1AirportSeqID,Div1WheelsOn,Div1TotalGTime,Div1LongestGTime,Div1WheelsOff,Div1TailNum
0,7,2015-08-02,AA,19805,AA,N790AA,1,JFK,"New York, NY",New York,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,2015-08-03,AA,19805,AA,N784AA,1,JFK,"New York, NY",New York,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,2015-08-04,AA,19805,AA,N793AA,1,JFK,"New York, NY",New York,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,2015-08-05,AA,19805,AA,N787AA,1,JFK,"New York, NY",New York,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,2015-08-06,AA,19805,AA,N790AA,1,JFK,"New York, NY",New York,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [102]:
df3[df3.columns[df3.columns.str.contains('Delay')]].head()

,DepDelay,DepDelayMinutes,DepartureDelayGroups,ArrDelay,ArrDelayMinutes,ArrivalDelayGroups,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay,DivArrDelay
0,-6,0,-1,-26,0,-2,NaN,NaN,NaN,NaN,NaN,NaN
1,-2,0,-1,5,5,0,NaN,NaN,NaN,NaN,NaN,NaN
2,2,2,0,6,6,0,NaN,NaN,NaN,NaN,NaN,NaN
3,-3,0,-1,22,22,1,0,0,22,0,0,NaN
4,-3,0,-1,10,10,0,NaN,NaN,NaN,NaN,NaN,NaN

In [103]:
cols_to_drop = df3.columns[df3.columns.str\
                              .contains('Delay')]\
                              .difference(pd.Series(['DepDelay']))

In [104]:
len(cols_to_drop)

11

In [109]:
df4 = df3.drop(cols_to_drop, axis=1)

In [110]:
df4.shape

(510536, 49)

In [111]:
df4['DepTime'].head()

0    854
1    858
2    902
3    857
4    857
Name: DepTime, dtype: float64

902 => "09:02"

In [120]:
def format_time(fl):
    fl_str = str(int(fl))
    if len(fl_str) < 4:
        fl_str = "0" + fl_str
    
    result = fl_str[:2] + ':' + fl_str[2:]
    return result

In [122]:
df4['DepTime'].fillna(0.0).map(format_time)

0         08:54
1         08:58
2         09:02
3         08:57
4         08:57
5         08:54
6         08:54
7         08:50
8         10:23
9         08:53
10        08:53
11        08:53
12        08:56
13        08:54
14        09:08
15        08:54
16        08:56
17        08:55
18        08:52
19        08:51
20        08:52
21        08:54
22        08:53
23        08:53
24        08:54
25        08:56
26        08:51
27        08:56
28        08:54
29        08:59
          ...
510506    18:59
510507    18:51
510508    18:49
510509    18:52
510510    18:50
510511    19:06
510512    18:49
510513    18:53
510514    18:53
510515    18:53
510516    18:56
510517    18:59
510518    19:03
510519    18:56
510520    18:59
510521    19:54
510522    18:52
510523    19:38
510524    18:54
510525    18:51
510526    18:49
510527    18:50
510528    19:04
510529    17:44
510530    17:37
510531    17:43
510532    17:37
510533    17:58
510534    17:38
510535    17:40
Name: DepTime, dtype: object

In [128]:
def format_time_f(fl):
    hours = int(fl / 100) % 24
    minutes = int(fl) % 100
    
    result = '%02d:%02d' % (hours, minutes)
    return result

In [132]:
df4['DepTime'][df4['DepTime'].isnull()]\
    .fillna(0.0).map(format_time_f)

415       00:
417       00:
443       00:
445       00:
752       00:
780       00:
782       00:
919       00:
982       00:
996       00:
1034      00:
1040      00:
1051      00:
1088      00:
1153      00:
1229      00:
1460      00:
1581      00:
1798      00:
1913      00:
1918      00:
1935      00:
2031      00:
2428      00:
2605      00:
3106      00:
3174      00:
3206      00:
3231      00:
3241      00:
         ...
500664    00:
500719    00:
500727    00:
500775    00:
500776    00:
501824    00:
501825    00:
502080    00:
503131    00:
504037    00:
504038    00:
504314    00:
504840    00:
505743    00:
505832    00:
505833    00:
506362    00:
506363    00:
506628    00:
506629    00:
506630    00:
506631    00:
506632    00:
506633    00:
506634    00:
506635    00:
507521    00:
508417    00:
508418    00:
509750    00:
Name: DepTime, dtype: object

In [137]:
df4['DepTime'][df4['DepTime'].isnull()]\
    .fillna(0.0).map(format_time)

415       00:
417       00:
443       00:
445       00:
752       00:
780       00:
782       00:
919       00:
982       00:
996       00:
1034      00:
1040      00:
1051      00:
1088      00:
1153      00:
1229      00:
1460      00:
1581      00:
1798      00:
1913      00:
1918      00:
1935      00:
2031      00:
2428      00:
2605      00:
3106      00:
3174      00:
3206      00:
3231      00:
3241      00:
         ...
500664    00:
500719    00:
500727    00:
500775    00:
500776    00:
501824    00:
501825    00:
502080    00:
503131    00:
504037    00:
504038    00:
504314    00:
504840    00:
505743    00:
505832    00:
505833    00:
506362    00:
506363    00:
506628    00:
506629    00:
506630    00:
506631    00:
506632    00:
506633    00:
506634    00:
506635    00:
507521    00:
508417    00:
508418    00:
509750    00:
Name: DepTime, dtype: object

In [138]:
df4['DepTimeFormatted'] = df4['DepTime']\
    .fillna(0.0).map(format_time_f)

In [141]:
df4['DepDateTime'] = \
    pd.to_datetime(df4['FlightDate'] + ' ' + \
                   df4['DepTimeFormatted'], \
                   format='%Y-%m-%d %H:%M')

In [142]:
df4['DepDateTime'].head()

0   2015-08-02 08:54:00
1   2015-08-03 08:58:00
2   2015-08-04 09:02:00
3   2015-08-05 08:57:00
4   2015-08-06 08:57:00
Name: DepDateTime, dtype: datetime64[ns]

In [145]:
df4.head()

,DayOfWeek,FlightDate,UniqueCarrier,AirlineID,Carrier,TailNum,FlightNum,Origin,OriginCityName,OriginStateName,...,Div1Airport,Div1AirportID,Div1AirportSeqID,Div1WheelsOn,Div1TotalGTime,Div1LongestGTime,Div1WheelsOff,Div1TailNum,DepTimeFormatted,DepDateTime
0,7,2015-08-02,AA,19805,AA,N790AA,1,JFK,"New York, NY",New York,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,08:54,2015-08-02 08:54:00
1,1,2015-08-03,AA,19805,AA,N784AA,1,JFK,"New York, NY",New York,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,08:58,2015-08-03 08:58:00
2,2,2015-08-04,AA,19805,AA,N793AA,1,JFK,"New York, NY",New York,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,09:02,2015-08-04 09:02:00
3,3,2015-08-05,AA,19805,AA,N787AA,1,JFK,"New York, NY",New York,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,08:57,2015-08-05 08:57:00
4,4,2015-08-06,AA,19805,AA,N790AA,1,JFK,"New York, NY",New York,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,08:57,2015-08-06 08:57:00