## Quick Exercises 1

1) Go to ~/Data/opentraveldata/ and list the files. Repeat the steps for  /home/dsc/Data/us_dot/otp and ~/Data/us_dot/traffic/. Use the list of visited directories from dhist towrite for loop which will list the files in every directory with â€“l option.

In [1]:
cd ~/Data/opentraveldata/

/home/dsc/Data/opentraveldata

In [2]:
ls -l

total 16128
-rw-rw-r--. 1 dsc dsc     249 Apr  2 12:14 create_table_optd_aircraft.sql
-rw-rw-r--. 1 dsc dsc     362 Apr  2 12:35 create_table_optd_airlines.sql
-rw-rw-r--. 1 dsc dsc    1242 Apr  2 12:42 create_table_optd_por_public.sql
-rw-r--r--. 1 dsc dsc   18612 Nov  8 14:10 optd_aircraft.csv
-rw-r--r--. 1 dsc dsc  107306 Nov  8 14:10 optd_airlines.csv
-rw-r--r--. 1 dsc dsc 8080005 Nov  8 14:10 optd_por_public.csv
-rw-rw-r--. 1 dsc dsc  193909 Apr  2 13:04 optd_por_public_with_errors.csv
-rw-rw-r--. 1 dsc dsc  192091 Apr  2 13:25 optd_por_public_with_errors_null.csv
-rw-rw-r--. 1 dsc dsc 7889316 Apr  2 13:06 optd_por_public_without_errors.csv

In [3]:
cd /home/dsc/Data/us_dot/otp

/home/dsc/Data/us_dot/otp

In [4]:
ls -l

total 190232
-rw-r--r--. 1 dsc dsc 23061340 Nov  8 14:10 On_Time_On_Time_Performance_2015_1.zip
-rw-r--r--. 1 dsc dsc 21230105 Nov  8 14:10 On_Time_On_Time_Performance_2015_2.zip
-rw-r--r--. 1 dsc dsc 24811186 Nov  8 14:10 On_Time_On_Time_Performance_2015_3.zip
-rw-r--r--. 1 dsc dsc 23625261 Nov  8 14:10 On_Time_On_Time_Performance_2015_4.zip
-rw-r--r--. 1 dsc dsc 24334057 Nov  8 14:10 On_Time_On_Time_Performance_2015_5.zip
-rw-r--r--. 1 dsc dsc 25758350 Nov  8 14:10 On_Time_On_Time_Performance_2015_6.zip
-rw-r--r--. 1 dsc dsc 26204213 Nov  8 14:10 On_Time_On_Time_Performance_2015_7.zip
-rw-r--r--. 1 dsc dsc 25726054 Nov  8 14:10 On_Time_On_Time_Performance_2015_8.zip

In [5]:
cd ~/Data/us_dot/traffic

/home/dsc/Data/us_dot/traffic

In [6]:
ls -l

total 172632
-rw-r--r--. 1 dsc dsc 153542984 Nov  8 08:03 914310910_T_T100_SEGMENT_ALL_CARRIER_2014_All.csv
-rw-r--r--. 1 dsc dsc      4341 Nov  8 08:03 914310910_T_T100_SEGMENT_ALL_CARRIER_ReadMe.csv
-rw-r--r--. 1 dsc dsc      6168 Nov  8 08:03 914310910_T_T100_SEGMENT_ALL_CARRIER_Terms.csv
-rw-rw-r--. 1 dsc dsc         0 Apr  8 17:15 create_segment.txt
-rw-rw-r--. 1 dsc dsc    604779 Apr 14 11:23 Finn_no_bl.txt
-rw-rw-r--. 1 dsc dsc        26 Apr  8 18:29 hello.py
-rw-rw-r--. 1 dsc dsc      1739 Apr  8 17:23 segmet_2014_create2.csv.txt
-rw-rw-r--. 1 dsc dsc      1841 Apr  3 22:43 segmet_2014_create.csv.txt
-rw-r--r--. 1 dsc dsc  16871101 Nov  8 14:10 T100_SEGMENT_ALL_CARRIER_2014.zip
-rw-r--r--. 1 dsc dsc   5709455 Nov  8 14:10 T100_SEGMENT_ALL_CARRIER_2015.zip

In [7]:
dhist

Directory history (kept in _dh)
0: /home/dsc/python_class
1: /home/dsc/Data/opentraveldata
2: /home/dsc/Data/us_dot/otp
3: /home/dsc/Data/us_dot/traffic

In [8]:
for i in _dh:
    !ls -l $i

total 888
-rw-rw-r--. 1 dsc dsc    664 Apr  6 22:44 finn_no_eol.py
-rw-rw-r--. 1 dsc dsc 585433 Apr  9 11:47 Finn_no_eol.txt
-rw-rw-r--. 1 dsc dsc     95 Apr  4 12:35 hello_world.py
-rw-rw-r--. 1 dsc dsc      0 Apr  9 10:51 new_file
-rw-rw-r--. 1 dsc dsc  37641 Apr 14 11:46 QuickExercisesPythonIntro.ipynb
-rw-rw-r--. 1 dsc dsc  64163 Apr  9 14:03 sabado 2016-04-09.ipynb
-rw-rw-r--. 1 dsc dsc    212 Apr  6 08:09 say_hello.py.py
-rw-rw-r--. 1 dsc dsc     84 Apr  4 14:34 some_module.py
-rw-rw-r--. 1 dsc dsc    362 Apr  4 14:36 some_module.pyc
-rw-rw-r--. 1 dsc dsc  43675 Apr  6 10:15 test01.ipynb
-rw-rw-r--. 1 dsc dsc   5430 Apr  8 12:26 test03.ipynb
-rw-rw-r--. 1 dsc dsc  28352 Apr  7 15:04 test2-Copy1.ipynb
-rw-rw-r--. 1 dsc dsc  89812 Apr  8 12:25 test2.ipynb
-rw-rw-r--. 1 dsc dsc  20208 Apr  5 09:31 test2.ipynb.01
-rw-rw-r--. 1 dsc dsc      0 Apr  5 13:17 test.txt
-rw-rw-r--. 1 dsc dsc    582 Apr  5 22:23 Untitled.ipynb
total 16128
-rw-rw-r--. 1 dsc dsc     249 Apr  2 12:14 create_table_optd_aircraft.sql
-rw-rw-r--. 1 dsc dsc     362 Apr  2 12:35 create_table_optd_airlines.sql
-rw-rw-r--. 1 dsc dsc    1242 Apr  2 12:42 create_table_optd_por_public.sql
-rw-r--r--. 1 dsc dsc   18612 Nov  8 14:10 optd_aircraft.csv
-rw-r--r--. 1 dsc dsc  107306 Nov  8 14:10 optd_airlines.csv
-rw-r--r--. 1 dsc dsc 8080005 Nov  8 14:10 optd_por_public.csv
-rw-rw-r--. 1 dsc dsc  193909 Apr  2 13:04 optd_por_public_with_errors.csv
-rw-rw-r--. 1 dsc dsc  192091 Apr  2 13:25 optd_por_public_with_errors_null.csv
-rw-rw-r--. 1 dsc dsc 7889316 Apr  2 13:06 optd_por_public_without_errors.csv
total 190232
-rw-r--r--. 1 dsc dsc 23061340 Nov  8 14:10 On_Time_On_Time_Performance_2015_1.zip
-rw-r--r--. 1 dsc dsc 21230105 Nov  8 14:10 On_Time_On_Time_Performance_2015_2.zip
-rw-r--r--. 1 dsc dsc 24811186 Nov  8 14:10 On_Time_On_Time_Performance_2015_3.zip
-rw-r--r--. 1 dsc dsc 23625261 Nov  8 14:10 On_Time_On_Time_Performance_2015_4.zip
-rw-r--r--. 1 dsc dsc 24334057 Nov  8 14:10 On_Time_On_Time_Performance_2015_5.zip
-rw-r--r--. 1 dsc dsc 25758350 Nov  8 14:10 On_Time_On_Time_Performance_2015_6.zip
-rw-r--r--. 1 dsc dsc 26204213 Nov  8 14:10 On_Time_On_Time_Performance_2015_7.zip
-rw-r--r--. 1 dsc dsc 25726054 Nov  8 14:10 On_Time_On_Time_Performance_2015_8.zip
total 172632
-rw-r--r--. 1 dsc dsc 153542984 Nov  8 08:03 914310910_T_T100_SEGMENT_ALL_CARRIER_2014_All.csv
-rw-r--r--. 1 dsc dsc      4341 Nov  8 08:03 914310910_T_T100_SEGMENT_ALL_CARRIER_ReadMe.csv
-rw-r--r--. 1 dsc dsc      6168 Nov  8 08:03 914310910_T_T100_SEGMENT_ALL_CARRIER_Terms.csv
-rw-rw-r--. 1 dsc dsc         0 Apr  8 17:15 create_segment.txt
-rw-rw-r--. 1 dsc dsc    604779 Apr 14 11:23 Finn_no_bl.txt
-rw-rw-r--. 1 dsc dsc        26 Apr  8 18:29 hello.py
-rw-rw-r--. 1 dsc dsc      1739 Apr  8 17:23 segmet_2014_create2.csv.txt
-rw-rw-r--. 1 dsc dsc      1841 Apr  3 22:43 segmet_2014_create.csv.txt
-rw-r--r--. 1 dsc dsc  16871101 Nov  8 14:10 T100_SEGMENT_ALL_CARRIER_2014.zip
-rw-r--r--. 1 dsc dsc   5709455 Nov  8 14:10 T100_SEGMENT_ALL_CARRIER_2015.zip

2) Implement a function that takes as input three variables, and returns the largest of the three.  Do this without using the Python max() function! Make 1 version without any local variable and another with one local variable. (hint: it might be easier to use edit)

In [9]:
def max_of_three_a (a, b, c):
    if a>b :
        if a>c :
            return a
        else:
            return c
    else:
        if b>c :
            return b
        else: 
            return c
 
def max_of_three_b (a, b, c):
    max_var=a
    if max_var<b:
        max_var=b
    if  max_var<c:
        max_var=c
    return max_var

In [10]:
max_of_three_a(1, 2, 3)

3

In [11]:
max_of_three_b(34,45,45)

45

3) Write a function that gets 3 inputs: list of numbers, number, number. If the number exists in list it returns its value, otherwise it returns False. Recollect the return values as one object and as variables. (hint : use in method)

In [12]:
def choose3 (lista, a, b, c=0):
    if a in lista:
        a_out=a
    else:
        a_out=False
    if b in lista:
        b_out=b
    else:
        b_out=False
    return a_out,b_out

In [13]:
a=[1,2,3,4]
(c,d)=choose3(a, 2, 3)
c, d

(2, 3)

In [14]:
k=choose3(a, 2, 10)
k

(2, False)

4) For a sequence [1, 2, 3, 4, 5, 6, 7, 8 ] get the squared values using the lambda function.

In [15]:
a=[1, 2, 3, 4, 5, 6, 7, 8 ]

In [16]:
b=map( lambda x: x**2, a)
b

[1, 4, 9, 16, 25, 36, 49, 64]

5) Write a function that will take Name, and year of birth  as inputs, check if year of birth is not int and cast it to int in that case, and print name together with text explaining when the person is to have 100 years (use isinstance)

centenario(Antonio, 1967)

Antonio will reach 100 years in 2067.

In [17]:
def centenario (nombre, year):
    if not isinstance(year, int):
        year=int(year)
    print "%s will reach 100 years in %d" %(nombre, year+100)
    return

In [18]:
centenario('Antonio', 1967)

Antonio will reach 100 years in 2067

6) Create a function that accepts string as search string and returns number of lines with this string in a command history (hint : use a in b)

In [19]:
def count_histlines_with(x):
    coun_lines=0
    for i in In:
        if x in i:
            coun_lines +=1
            print i
    return coun_lines

In [20]:
hist

cd ~/Data/opentraveldata/
ls -l
cd /home/dsc/Data/us_dot/otp
ls -l
cd ~/Data/us_dot/traffic
ls -l
dhist
for i in _dh:
    !ls -l $i
def max_of_three_a (a, b, c):
    if a>b :
        if a>c :
            return a
        else:
            return c
    else:
        if b>c :
            return b
        else:
            return c

def max_of_three_b (a, b, c):
    max_var=a
    if max_var<b:
        max_var=b
    if  max_var<c:
        max_var=c
    return max_var
max_of_three_a(1, 2, 3)
max_of_three_b(34,45,45)
def choose3 (lista, a, b, c=0):
    if a in lista:
        a_out=a
    else:
        a_out=False
    if b in lista:
        b_out=b
    else:
        b_out=False
    return a_out,b_out
a=[1,2,3,4]
(c,d)=choose3(a, 2, 3)
c, d
k=choose3(a, 2, 10)
k
a=[1, 2, 3, 4, 5, 6, 7, 8 ]
b=map( lambda x: x**2, a)
b
def centenario (nombre, year):
    if not isinstance(year, int):
        year=int(year)
    print "%s will reach 100 years in %d" %(nombre, year+100)
    return
centenario('Antonio', 1967)
def count_histlines_with(x):
    coun_lines=0
    for i in In:
        if x in i:
            coun_lines +=1
            print i
    return coun_lines
hist

In [21]:
count_histlines_with('data')

get_ipython().magic(u'cd ~/Data/opentraveldata/ ')
count_histlines_with('data')

2

## Quick Exercises 2

1) Open Finn.txt  file, read lines into a list. If the list elements have EOL character remove it. Write the list with no EOL characters to the new file. How many lines does the new file have?  (hint: empty list is made with [ ] )

In [22]:
!find ~ -type f -name "Finn*"

/home/dsc/Finn_no_eol.txt
/home/dsc/Data/us_dot/traffic/Finn_no_bl.txt
/home/dsc/Finn.txt
/home/dsc/Finn_no_bl.txt
/home/dsc/python_class/Finn_no_eol.txt

In [23]:
path='/home/dsc/Finn.txt'  
f=open(path)

In [24]:
lines=[ ]
for line in f:
    lines.append(line)

In [25]:
!wc -l $path
len(lines)

12361 /home/dsc/Finn.txt

12361

In [26]:
lines[0:10]

['\xef\xbb\xbf\r\n',
 '\r\n',
 'The Project Gutenberg EBook of Adventures of Huckleberry Finn, Complete\r\n',
 'by Mark Twain (Samuel Clemens)\r\n',
 '\r\n',
 'This eBook is for the use of anyone anywhere at no cost and with almost\r\n',
 'no restrictions whatsoever. You may copy it, give it away or re-use\r\n',
 'it under the terms of the Project Gutenberg License included with this\r\n',
 'eBook or online at www.gutenberg.net\r\n',
 '\r\n']

In [27]:
no_eol=[ ]
for line in lines:
    no_eol.append(line.rstrip())  

len (no_eol)

12361

In [28]:
f_out=open("/home/dsc/Finn_no_eol.txt", 'w')
for line in no_eol:
    f_out.writelines(line)

f_out.close()

In [29]:
!wc /home/dsc/Finn_no_eol.txt

     0 104594 585433 /home/dsc/Finn_no_eol.txt

2) Clear namespace leaving only variable with Finn.txt path  and  list with lines from the previous task.

In [30]:
whos

Variable               Type        Data/Info
--------------------------------------------
a                      list        n=8
b                      list        n=8
c                      int         2
centenario             function    <function centenario at 0x7fac940cc668>
choose3                function    <function choose3 at 0x7fac940cc758>
count_histlines_with   function    <function count_histlines_with at 0x7fac940ccb18>
d                      int         3
f                      file        <open file '/home/dsc/Fin<...>de 'r' at 0x7fac9412f4b0>
f_out                  file        <closed file '/home/dsc/F<...>de 'w' at 0x7fac9412f5d0>
i                      unicode     /home/dsc/Data/us_dot/traffic
k                      tuple       n=2
line                   str
lines                  list        n=12361
max_of_three_a         function    <function max_of_three_a at 0x7fac940cc578>
max_of_three_b         function    <function max_of_three_b at 0x7fac940cc7d0>
no_eol                 list        n=12361
path                   str         /home/dsc/Finn.txt

In [31]:
reset_selective max

Once deleted, variables cannot be recovered. Proceed (y/[n])?
Nothing done.

In [32]:
whos

Variable               Type        Data/Info
--------------------------------------------
a                      list        n=8
b                      list        n=8
c                      int         2
centenario             function    <function centenario at 0x7fac940cc668>
choose3                function    <function choose3 at 0x7fac940cc758>
count_histlines_with   function    <function count_histlines_with at 0x7fac940ccb18>
d                      int         3
f                      file        <open file '/home/dsc/Fin<...>de 'r' at 0x7fac9412f4b0>
f_out                  file        <closed file '/home/dsc/F<...>de 'w' at 0x7fac9412f5d0>
i                      unicode     /home/dsc/Data/us_dot/traffic
k                      tuple       n=2
line                   str
lines                  list        n=12361
max_of_three_a         function    <function max_of_three_a at 0x7fac940cc578>
max_of_three_b         function    <function max_of_three_b at 0x7fac940cc7d0>
no_eol                 list        n=12361
path                   str         /home/dsc/Finn.txt

In [33]:
whos

Variable               Type        Data/Info
--------------------------------------------
a                      list        n=8
b                      list        n=8
c                      int         2
centenario             function    <function centenario at 0x7fac940cc668>
choose3                function    <function choose3 at 0x7fac940cc758>
count_histlines_with   function    <function count_histlines_with at 0x7fac940ccb18>
d                      int         3
f                      file        <open file '/home/dsc/Fin<...>de 'r' at 0x7fac9412f4b0>
f_out                  file        <closed file '/home/dsc/F<...>de 'w' at 0x7fac9412f5d0>
i                      unicode     /home/dsc/Data/us_dot/traffic
k                      tuple       n=2
line                   str
lines                  list        n=12361
max_of_three_a         function    <function max_of_three_a at 0x7fac940cc578>
max_of_three_b         function    <function max_of_three_b at 0x7fac940cc7d0>
no_eol                 list        n=12361
path                   str         /home/dsc/Finn.txt

In [34]:
xdel a

3) Create a new version of Finn_nbl.txt with no blank lines using the list with loaded lines from 1 excercise. (we are going to use this file laterâ€¦)

In [35]:
f_out=open("/home/dsc/Finn_no_bl.txt", 'w')

for line in lines:
    if len(line)>2:
        f_out.writelines(line)
f_out.close()

## Quick Exercises 3

1) Obtain the difference in number of lines between original Finn file and Finn file without blank lines  and print the result .

In [36]:
lines_no_bl=!wc -l /home/dsc/Finn_no_bl.txt | cut -d " " -f 1
lines_org=!wc -l /home/dsc/Finn.txt | cut -d " " -f 1

In [37]:
int(lines_org[0])-int(lines_no_bl[0])

2688

2) Prepare a list with 10 names. Make a code that will put all vowels to capitals and every other character to lower letters.

In [38]:
names=["Bob", "Igor", "Anita", "Israel", "Thomas", "Bill", "Ronaldo", "Messi"]

In [39]:
new_names=[]
for name in names:
    new_name=''
    for latter in name:
        if latter in "aeiouAEIOU":
            new_name = new_name + latter.upper()
        else:
            new_name = new_name + latter.lower()
    new_names.append(new_name)

new_names

['bOb', 'IgOr', 'AnItA', 'IsrAEl', 'thOmAs', 'bIll', 'rOnAldO', 'mEssI']

## Quick Exercises 4

1) Prepare a list with 10 names. Make a function with input variables: list, and character; that returns a list containing all names with one or more characters â€™s in them (names). Do one function first with standard for loop and another with list comprehensions.

In [40]:
names=["Bob", "Igor", "Anita", "Israel", "Thomas", "Bill", "Ronaldo", "Messi", "Iniesta", "Modric", "Ramos"]

In [41]:
def names_of_interest_a(name_list, a):
    names_of_interest = []
    for name in names:
        if name.count(a) >= 1:
            names_of_interest.append(name)
    return names_of_interest

In [42]:
def names_of_interest_b(name_list, a):
    enough_es = [name for name in names if name.count(a) >= 1]
    return enough_es

In [43]:
b=names_of_interest_a(names, 'o')
b

['Bob', 'Igor', 'Thomas', 'Ronaldo', 'Modric', 'Ramos']

In [44]:
c=names_of_interest_b(names, 'e')
c

['Israel', 'Messi', 'Iniesta']

2) Sort a collection of strings by the number of distinct letters in each string. (hint: use set)

In [45]:
strings = ['foo', 'card', 'bar', 'aaaa', 'abab', 'Messi']
strings.sort(key=lambda x: len(set(list(x))))

In [46]:
strings

['aaaa', 'foo', 'abab', 'bar', 'card', 'Messi']

3) Reverse word order from the input string

In [47]:
teststring='tgi hfd jgjhgjhgj'
result = teststring.split(" ")
reverse_order = [ item for item in result[::-1] ]
print " ".join(reverse_order)

jgjhgjhgj hfd tgi

In [48]:
def reverse_v1(x):
    y = x.split()
    result = []
    for word in y:
        result.insert(0,word)
    return " ".join(result)

In [49]:
def reverse_v2(x):
  y = x.split()
  return " ".join(y[::-1])

In [50]:
def reverse_v2(x):
  y = x.split()
  return " ".join(y[::-1])
def reverse_v3(x):
  y = x.split()
  return " ".join(reversed(y))

In [51]:
def reverse_v4(x):
  y = x.split()
  y.reverse()
  return " ".join(y)

In [52]:
reverse_v1("Welcome to Madrid, have a nice time")

'time nice a have Madrid, to Welcome'

In [53]:
reverse_v2("Welcome to Madrid, have a nice time")

'time nice a have Madrid, to Welcome'

In [54]:
reverse_v3("Welcome to Madrid, have a nice time")

'time nice a have Madrid, to Welcome'

In [55]:
reverse_v4("Welcome to Madrid, have a nice time")

'time nice a have Madrid, to Welcome'

4) Categorize a list of words by their first letter (hint: use dict)

In [56]:
words = ['apple', 'bat', 'bar', 'atom', 'book']

In [57]:
by_letter = {}
for word in words:
    letter = word[0]
    if letter not in by_letter:
        by_letter[letter] = [word]
    else:
        by_letter[letter].append(word)

by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}