## Web Service

http://flask.pocoo.org/docs/0.10/quickstart/

In [1]:
import pandas as pd

In [9]:
pd.read_json?

In [3]:
r = pd.read_json('http://127.0.0.1:5000/top/15')

In [8]:
r.sort_index()

                               Airport Name arr_port    pax
0                   London Heathrow Airport      LHR  88809
1             Orlando International Airport      MCO  70930
2         Los Angeles International Airport      LAX  70530
3           Mc Carran International Airport      LAS  69630
4      John F Kennedy International Airport      JFK  66270
5                 Paris - Charles-de-Gaulle      CDG  64490
6                              Suvarnabhumi      BKK  59460
7               Miami International Airport      MIA  58150
8       San Francisco International Airport      SFO  58000
9               Dubai International Airport      DXB  55590
10     Chicago O'Hare International Airport      ORD  53200
11      Leonardo da Vinci–Fiumicino Airport      FCO  45120
12                       Istanbul / Ataturk      IST  43850
13  Dallas/Fort Worth International Airport      DFW  42420
14             Cancún International Airport      CUN  42000

## MISC

In [9]:
import numpy as np
import pandas as pd
df=pd.DataFrame(np.arange(10).reshape(2,5))

In [12]:
df.apply(np.sqrt, axis=1)

          0        1         2         3  4
0  0.000000  1.00000  1.414214  1.732051  2
1  2.236068  2.44949  2.645751  2.828427  3

In [13]:
df.apply(np.sqrt, axis=0)

          0        1         2         3  4
0  0.000000  1.00000  1.414214  1.732051  2
1  2.236068  2.44949  2.645751  2.828427  3

In [14]:
df.apply(np.sum, axis=1)

0    10
1    35
dtype: int64

In [15]:
df.apply(np.sum, axis=0)

0     5
1     7
2     9
3    11
4    13
dtype: int64

In [16]:
np.random.randint(1, 10, 5)

array([5, 1, 3, 4, 7])